{% extends "base.html" %}
{% load static %}
{% block styles %}
    {% include 'utils/styles.html' %}
{% endblock styles %}

{% block title %}Allocated Room{% endblock title %}

{% block body %}
    {% include "utils/navbar.html" %}

    <div class="container-fluid page-body-wrapper">
        {% include 'utils/aside.html' %}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
         
              {% include 'utils/messages.html' %}
            <div class="row">
                {% if alloc_room %}
                    
                        <div class="col-lg-6 grid-margin stretch-card">
                            <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title text-primary">Allocated Room Detail</h4>
                                        <h5 class="font-weight-normal">Dear {{request.user.first_name}}, you have been allocated to the below hostel</h5>
                                        <h5 class="font-weight-normal">Hall: {{alloc_room.room.hall.name}}</h5>
                                        <h5 class="font-weight-normal">Room Number: {{alloc_room.room.room_num}}</h5>
                                        <div class="col-lg-6">
                                            <a href="{% url "allocation:room_detail" %}" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit">View Room Details</a>
                                        </div>
                                        
                                    </div>
                            </div>
                        </div>
                {% else %}
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="text-danger text-center">No Record Found</h3>
                            </div>
                        </div>
                    </div>


                {% endif %}
              
             
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          {% include 'utils/footer.html' %}
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>


{% endblock body %}