{% extends "base.html" %}
{% load static %}
{% block styles %}
    {% include 'utils/styles.html' %}
{% endblock styles %}

{% block title %}Room Details{% endblock title %}

{% block body %}
    {% include "utils/navbar.html" %}

    <div class="container-fluid page-body-wrapper">
        {% include 'utils/aside.html' %}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
         
              {% include 'utils/messages.html' %}
            <div class="row">
                {% if student_alloc %}
                    
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                    <div class="card-body">
                                        <h3 class="text-primary">Room Details</h3>
                                        <h5 class="font-weight-normal">Below is the detail of the room allocated to you</h5>
                                        <hr/>
                                        <h4 class="card-title text-primary">Hostel Name: {{student_alloc.room.hall.name}}</h4>
                                        <div class="row">
                                            <div class="col-4">
                                                <h5 class="font-weight-normal">Amount Paid: {{student_alloc.room.hall.price}}</h5>
                                                <h5 class="font-weight-normal">Room Number: {{student_alloc.room.hall.room_number}}</h5>
                                                <h5 class="font-weight-normal">{{student_alloc.room.hall.gender}} hall</h5>
                                            </div>
                                            <div class="col-6">
                                                <img src="{{student_alloc.room.hall.picture.url}}" alt=" hall" width="100" height="100" style="border-radius: 50%;">
                                            </div>
                                        </div>
                                        <hr/>
                                        <h4 class="card-title text-primary">Room Occupants</h4>
                                        {% if students %}
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                        <th>Name</th>
                                                        <th>Picture</th>
                                                        <th>Department</th>
                                                        <th>Level</th>
                                                        <th>Phone Number</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for student in students %}
                                                            <tr>
                                                                <td>
                                                                    {{student.user.first_name | title}} {{student.user.last_name | title}}
                                                                </td>
                                                                <td class="py-1">
                                                                    <img src="{{student.user.profile_pic.url}}" alt="image"/>
                                                                </td>
                                                                <td>
                                                                    {{student.department.name}}
                                                                </td>
                                                                <td>
                                                                    {{student.level}}
                                                                </td>
                                                                <td>
                                                                    {{student.user.phone}}
                                                                </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>                                        
                                        {% else %}
                                            <div class="col-lg-12 grid-margin stretch-card">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="text-warning text-center">No occupants yet, you are alone in this room</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                       
                                       
                                        
                                    </div>
                            </div>
                        </div>
                {% else %}
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="text-danger text-center">No Record Found</h3>
                            </div>
                        </div>
                    </div>


                {% endif %}
              
             
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          {% include 'utils/footer.html' %}
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>


{% endblock body %}