{% extends 'base.html' %}
{% load static %}
{% block styles %}
    {% include 'utils/styles.html' %}
{% endblock styles %}

{% block body %}
        {% include 'utils/navbar.html' %}
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
          
      
          <!-- partial -->
          <!-- partial:partials/_sidebar.html -->
          {% include 'utils/aside.html' %}
          <!-- partial -->
          <div class="main-panel">
            <div class="content-wrapper">
              <div class="row">
                <div class="col-md-12 grid-margin">
                  <div class="row">
                    <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                      <h2 class="font-weight-bold text-primary">Welcome, {{request.user | title}}</h3>
                    </div>
             
                  </div>
                </div>
              </div>
              {% include 'utils/messages.html' %}
              
              <div class="row">
              {% if halls %}
                {% for hall in halls %}
                  <div class="col-lg-4 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                       <h4 class="card-title text-primary">{{hall.name}}</h4>
                              <div class="row">
                                  <div class="col-6">
                                      <h5 class="font-weight-normal">For: {{hall.gender}}</h5>
                                  <h5 class="font-weight-normal">Amount: {{hall.price}}</h5>
                                  <h5 class="font-weight-normal">Rooms: {{hall.room_number}}</h5>
                                  </div>
                                  <div class="col-6">
                                      <img src="{{hall.picture.url}}" alt=" hall" width="100" height="100" style="border-radius: 50%;">
                                  </div>
                              </div>
                              <p class="badge {% if hall.status == 'available' %}badge-warning{% else %}badge-danger{% endif %}  text-primary">{{hall.status}} </p>
                      </div>
                    </div>
                    
                  </div>
                {% endfor %}
                
                {% else %}
                    <div class="col-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                        {% if alloc_room %}
                          <h3 class="card-title text-primary">Hostel Allocation</h3>
                          <h4 class="text-warning">You have been allocated a room </h4>
                          check your room detail <a href="{% url "allocation:allocated-room" %}">here</a> 
                          
                        {% else %}
                            <div class="d-flex flex-wrap">
                                <h3 class="card-title text-primary">Hostel Allocation Requirements</h3>
                                <span class="text-dark">
                                  <ul class="list-arrow">
                                    <li>You must be currently enrolled at the as full-time or part-time student</li>
                                    <li>Amount to be paid is based on your selection</li>
                                  </ul>
                                </span>
                                <p class="text-danger">Note: Proceed to apply for hostel if you meet the above requirements. </p>
                                
                            </div>

                              <a href="{% url "allocation:hostel-list" %}" class="btn btn-primary">Apply for Hostel</a>
                            {% endif %}

                        </div>
                    </div>
                    </div>
                
                {% endif %}
              </div>             
                
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            {% include 'utils/footer.html' %}
            <!-- partial -->
          </div>
          <!-- main-panel ends -->
        </div>   
        <!-- page-body-wrapper ends -->
      {% comment %} </div> {% endcomment %}
      <!-- container-scroller -->
    
{% endblock body %}