<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item {% if request.path == '/allocation/' %}active{% endif %}">
        <a class="nav-link" href="{% url 'allocation:dashboard' %}">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      {% if request.user.is_warden %}
        <li class="nav-item {% if 'manage-users' in request.path %}active{% endif %}">
            <a class="nav-link" href="#">
            <i class="icon-head menu-icon"></i>
            <span class="menu-title">Manage Hostels</span>
            </a>
        </li>
      {% endif %}

      <li class="nav-item {% if 'accused-list' in request.path or 'fill-form' in request.path %}active{% endif %} ">
        <a class="nav-link " data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
          <i class="icon-columns menu-icon"></i>
          <span class="menu-title">Accused</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="form-elements">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="#">Fill Form</a></li>
          </ul>
        </div>
        <div class="collapse" id="form-elements">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="#">List of Accused</a></li>
          </ul>
        </div>
      </li>
      
      {% if request.user.is_institution_admin %}
        <li class="nav-item {% if 'track-accused' in request.path or 'accused-detail' in request.path %}active{% endif %}">
          <a class="nav-link" href="{% url 'allocation:track_accused' %}">
            <i class="icon-paper menu-icon"></i>
            <span class="menu-title">Track Accused</span>
          </a>
        </li>
      {% endif %}

    </ul>
  </nav>